.page-container {
  position: relative;
  min-height: 100vh;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif; /* Add a modern font */
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.sts-text {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

/* Login Page Styles */
.login-page {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff; /* Change to white for a cleaner look */
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Slightly stronger shadow */
  position: relative;
  top: 100px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #003366; /* Dark blue for better contrast */
}

.input-group {
  margin-bottom: 15px;
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
}

.yubikey-option {
  margin-bottom: 20px;
}

.yubikey-option label {
  display: block;
  margin-bottom: 10px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.875rem;
}

.images-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.image-container {
  text-align: center; /* Center text under images */
  margin: 0 15px; /* Reduce margin between images */
}

.image {
  width: 250px; /* Adjust size for balance */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: Add some rounding to images */
}

.image-caption {
  margin-top: 5px; /* Reduce margin above captions */
  font-size: 1.2rem; /* Slightly larger caption */
  color: #003366; /* Dark blue for captions */
  font-weight: bold; /* Make captions bold */
}

.arrow {
  margin: 0 15px; /* Reduce margin around the arrow */
  color: #003366; /* Keep consistent color */
  display: flex;
  align-items: center;
  justify-content: center;
}

.functionality-description {
  padding: 30px; /* Increase padding for spaciousness */
  background-color: #f7f7f7; /* Light gray background */
  border-radius: 8px; 
  margin-top: 80px;
  font-family: 'Roboto'
}
